<div
  class="min-h-screen bg-[#979066] w-full h-full flex flex-col gap-2 items-center pb-10"
>
  <div class="flex items-center justify-between w-full px-6 py-8">
    <h1 class="text-white text-4xl font-extrabold">Voucher Details</h1>

    <img
      src="../../../assets/images/close.svg"
      alt="exit"
      class="h-10 w-10 cursor-pointer"
      routerLink="/vouchers"
    />
  </div>
  <div class="voucher-card overflow-auto">
    <div class="section-top">
      <h2>1 for 1 Wine experience voucher</h2>
      <p class="subtitle">2 hours free flow wine</p>
    </div>

    <div class="divider-container">
      <div class="notch-left"></div>
      <div class="dashed-line"></div>
      <div class="notch-right"></div>
    </div>

    <div class="section-middle">
      <div class="info-left">
        <div class="date-row">
          <svg
            class="clock-icon"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" />
            <path
              d="M12 6V12L16 14"
              stroke="black"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <span>18th Nov 2025</span>
        </div>
        <div class="price">$49.90</div>
      </div>
      <img
        src="../../../assets/images/gift.svg"
        alt="Gift Box"
        class="gift-image"
      />
    </div>

    <div class="divider-container">
      <div class="notch-left"></div>
      <div class="dashed-line"></div>
      <div class="notch-right"></div>
    </div>

    <div class="expired-notice">
      <h3>Expired Vouchers will not be Accepted</h3>
      <ul>
        <li>
          WFA ASIA and Partner restaurants reserve the right to refuse service
          to intoxicate guests.
        </li>
        <li>
          WFA ASIA reserves the right to attend or cancel this promotion without
          prior notice.
        </li>
      </ul>
    </div>

    <div class="divider-container">
      <div class="notch-left"></div>
      <div class="dashed-line"></div>
      <div class="notch-right"></div>
    </div>

    <div class="terms-conditions">
      <h3>Terms & Conditions</h3>
      <ol>
        <li>
          Valid for a one-for-one (1-for-1) Wine For All two-hour free-flow wine
          experience at regular price. Bring a friend to enjoy it for free.
        </li>
        <li>
          Dine-in only at participating WFA ASIA partner restaurants. Current
          location: Haidilao (Marina Bay Sands), 2 Bayfront Avenue, #B2-01 The
          Shoppes at Marina Bay Sands, Singapore 018972. Advance reservation is
          recommended.
        </li>
        <li>Voucher must be presented prior to ordering.</li>
        <li>
          Not exchangeable for cash and not valid in conjunction with other
          promotions, discounts, or offers.
        </li>
        <li>
          Valid for one-time use only. For guests aged 18 years and above.
        </li>
        <li>Lost or damaged vouchers will not be replaced.</li>
        <li>
          Wine For All reserves the right to amend the terms and conditions
          without prior notice and retains the right of final decision in the
          event of any dispute.
        </li>
      </ol>
    </div>
  </div>
</div>
